<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= title %> - Admin Quipus
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/logo.png">
</head>

<body class="bg-gray-50">

    <%- include('../partials/admin-sidebar', { admin: admin }) %>

</body>

</html>